body {
    background-color: deepskyblue;
}

h1 {
    font-size: 600%;
    color: blue;
    text-align: center
}

p {
    color: red;
    text-align: center
}

a {
    text-align: center
}

.table {
    display: table;
    margin: 0 auto;
}

ul#nav {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    background-color: #333333;
}

ul#nav li {
    float: left;
    align-self: center;
}

ul#nav li a {
    font-size: 200%;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 32px;
    text-decoration: none;
}

ul#nav li a:hover {
    background-color: #000000;
}