body {
    background-color: deepskyblue;
}

h1 {
    font-size: 600%;
    color: blue;
    text-align: center
}

p {
    color: red;
    text-align: center
}

a {
    text-align: center
}

.table {
    display: table;
    margin: 0 auto;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-content: center;
    background-color: rgb(67,50,27);;
}

ul#nav li {
    display: inline;
}

ul#nav li a {
    font-size: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul#nav li a:hover {
    background-color: #111111;
}