body {
    background-image: url(../images/pattern.png);
    background-color: rgba(165,42,42,0.5);
}


h1 {
    font-size: 300%;
    color: #128b73;
    text-align: center;
    font-family: Arial;
}

p {
    color: black;
    text-align: justify;
    font-family: Arial;
    padding: 10px;
}

h3 {
    padding: 5px;
    text-align: center;
    color: #128b73;
    font-family: Arial;
}

a {
    text-align: center;
    font-family: Arial;
    padding: 0px;
}

.header {
    padding: 8px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.headerText {
    padding: 8px;
    text-align: center;
    background: #1abc9c;
    font-size: 150%;
    color: white;
    font-family: Arial;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family:Arial;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 0, 0, 20vw;
    background-color: #ffffff;
    padding: 20px;
}

.sideHeader {
    background-color: #bababa;
    padding: 10px;
}

.main {
    flex: 1;
    background-color: white;
    padding: 20px;
    display: inline-block;
    padding-top: 0px;
}

.mainGame {
    height: 81vh;
    width: 10vh;
    flex: 1;
    background-color: white;
    padding: 20px;
}

.game {
    position: relative;
    padding-bottom: 100px;
    padding-top: 35px;
    height: 720px;
    width: 1080px;
    overflow: hidden;
}

.game iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 75%;
    display: inline-block;
}

.card {
    background-color: #ededed;
    padding: 20px;
    margin-top: 20px;
    padding-top: 1px;
}

.cardHeader {
    background-color: #bababa;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.cardSide {
    background-color: #ededed;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.img {
    width: 40%;
}

.secret a:link, .secret a:visited, .secret a:hover, .secret a:active {
    font-size: 50%;
    color: #800000;
    padding: 0px;
    margin: 0px;
    height: 0px;
}

#textCarousel {
    text-align: center;
    font-size: 150%;
    font-family: Arial;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 1px;
    width: 250px;
    background-color: #ffffff;
}

li a {
    display: block;
    color: #000;
    background-color: #ededed;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
}

li a:hover {
  background-color: #555;
  color: white;
}